:root {
	--size-full: 100%;
	--size-half: 50%;
	--size-p10: 10px;
	--size-p30: 30px;
	--size-p40: 40px;
	--size-p80: 80px;

	--color-white: #fff;
	--color-normalDanger: #dc3545;

	--fontWeight-bold: 700;

	--transition-normal: 0.3s;
}
